.rooms-description-container {

}

.rooms-description-container .ant-card-body {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -5px;
}

.announcementContainer {
    margin-bottom: 30px;
}

.announcementContainer .ant-tabs {
    min-height: 110px;
}
/*announcementContainer**/